<md-sidenav
    class="md-sidenav-right"
    md-whiteframe="4"
    md-is-locked-open="$mdMedia('gt-md')"
    md-component-id="right" 
    layout="column"
    flex="100">

  <md-content  layout="column" flex="100">
   <div ng-cloak layout="column" flex="100">
    <md-content layout="column" flex="100" layout-align="center none">
      <md-tabs flex="column" flex="100" layout-align="center none">
        <md-tab label="tinder">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tinder Mode</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            <md-button>
              Like
            </md-button>
            <md-button>
              Don't Like
            </md-button>
            <md-button>
              Skip
            </md-button>
          </md-content>
        </md-tab>
        <md-tab label="omni">
          <md-content class="md-padding">
            <h1 class="md-display-2">Omni Mode</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            <md-button>
              Split
            </md-button>
            <md-button>
              Join
            </md-button>
            <md-button>
              Deselect All
            </md-button>
        </md-tab>
        <md-tab label="overview">
          <md-content class="md-padding">
            <h1 class="md-display-2">Overview Mode</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            <md-button>
              Freeze
            </md-button>
            <md-button>
              Unfreeze
            </md-button>
        </md-tab>
        <md-tab label="vast">
          <md-content class="md-padding">
            <h1 class="md-display-2">Vast Mode</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            <md-button>
              pick color
            </md-button>
            <md-button>
              choose color
            </md-button>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
    <md-button ng-click="close()" class="md-primary"  hide-gt-md>
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>